In [24]:
## 0
smt = "stressed"
tmp = ""
for i in range(1, len("stressed") + 1):
    tmp += smt[-i]
tmp

'desserts'

In [25]:
smt[::-1]

'desserts'

In [50]:
## 1
smt = "パタトクカシーー"
''.join([smt[i] for i in range(len(smt)) if i % 2==0])

'パトカー'

In [51]:
smt = "パタトクカシーー"
smt[::2]

'パトカー'

In [40]:
## 2
smt1 = "パトカー"
smt2 = "タクシー"
comb = ""
for p, t in zip(smt1, smt2):
    comb += p + t
comb

'パタトクカシーー'

In [60]:
## 3
smt = "Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."
[len(w) - w.count(',') - w.count('.') for w in smt.split(' ')]

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9]

In [59]:
## 4
smt = "Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."
dic = {}
target_index = [1, 5, 6, 7, 8, 9, 15, 16, 19]
for i, w in enumerate(smt.split(' ')):
    if i + 1 in target_index:
        dic[i + 1] = w[0]
    else:
        dic[i + 1] = w[:2]
dic

{1: 'H',
 2: 'He',
 3: 'Li',
 4: 'Be',
 5: 'B',
 6: 'C',
 7: 'N',
 8: 'O',
 9: 'F',
 10: 'Ne',
 11: 'Na',
 12: 'Mi',
 13: 'Al',
 14: 'Si',
 15: 'P',
 16: 'S',
 17: 'Cl',
 18: 'Ar',
 19: 'K',
 20: 'Ca'}

In [77]:
## 5
def get_n_gram(n, smt):
    words = smt.split(' ')
    n_words_list = []
    n_letters_list = []
    for i in range(len(smt) - n + 1):
        n_letters_list.append(smt[i:i+n])
    for i in range(len(words) -n + 1):
        n_words_list.append(words[i:i+n])
    return n_letters_list, n_words_list

get_n_gram(3, "I am an NLPer")

(['I a', ' am', 'am ', 'm a', ' an', 'an ', 'n N', ' NL', 'NLP', 'LPe', 'Per'],
 [['I', 'am', 'an'], ['am', 'an', 'NLPer']])

In [84]:
## 6
smt1 = "paraparaparadise"
smt2 = "paragraph"
X = set()
for i in range(len(smt1) - 2 + 1):
    X.add(smt1[i:i+2])
Y = set()
for i in range(len(smt2) - 2 + 1):
    Y.add(smt2[i:i+2])
    
print(X | Y)
print(X & Y)
print(X - Y)
print('se' in (X and Y))
print('se' in (X or Y))

{'is', 'ag', 'ra', 'ph', 'ar', 'gr', 'se', 'ad', 'ap', 'pa', 'di'}
{'ra', 'ap', 'pa', 'ar'}
{'se', 'is', 'ad', 'di'}
False
True

In [85]:
## 7
def get_template(x, y, z):
    return "{}時の{}は{}".format(x, y, z)

get_template(12, '気温', 22.4)

'12時の気温は22.4'

In [102]:
## 8
class Coder:
    def __init__():
        pass
    
    def encode(smt):
        code = ""
        for i in range(len(smt)):
            if smt[i] .isalpha() and smt[i].islower():
                code += chr(219 - ord(smt[i]))
            else:
                code += smt[i]
        return code
    
    def decode(code):
        stm = ""
        for i in range(len(code)):
            if code[i] .isalpha() and code[i].islower():
                smt += chr(219 - ord(code[i]))
            else:
                smt += code[i]
        return smt

coder = Coder
smt =  "I couldn't believe that"
code = coder.encode(smt)
desmt = coder.encode(code)
print(smt)
print(code)
print(desmt)

I couldn't believe that
I xlfowm'g yvorvev gszg
I couldn't believe that

In [123]:
## 9
import random
def feel_typoglycemia(smt):
    typogly = []
    for w in smt.split(' '):
        if len(w) <= 4:
            typogly.append(w)
        else:
            mid = list(w)[1:-1]
            random.shuffle(mid)
            typogly.append(w[0] + ''.join(mid) + w[-1])
    return typogly

            
smt = "I couldn't believe that I could actually understand what I was reading : the phenomenal power of the human mind ."
' '.join(feel_typoglycemia(smt))

"I c'uolndt bveelie that I cuold atulcaly unrndasted what I was riedang : the ponmeenhal peowr of the hamun mind ."

In [126]:
## 10
!cat hightemp.txt | wc -l

24

In [129]:
## 11
!cat hightemp.txt | sed "s/\t/\ /g"

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [132]:
!cat hightemp.txt | tr "\t" "\ "

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [135]:
!expand -t 1 hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [147]:
## 12
!cat hightemp.txt | sed "s/\t/\ /g" | cut -f 1 -d " " > col1.txt
!cat hightemp.txt | sed "s/\t/\ /g" | cut -f 2 -d " " > col2.txt

In [150]:
## 13
!paste col1.txt col2.txt > cols.txt

In [152]:
## 14
!head -n 5 hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

In [153]:
## 15
!tail -n 5 hightemp.txt

埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [157]:
## 16
!split -n 2 hightemp.txt

In [167]:
## 17
!cat hightemp.txt | sed "s/\t/\ /g" | cut -f 1 -d " "  | sort | uniq

千葉県
和歌山県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県

In [174]:
## 18
!cat hightemp.txt | sed "s/\t/\ /g" | sort -k 3 -t " "

愛知県 名古屋 39.9 1942-08-02
山形県 鶴岡 39.9 1978-08-03
山梨県 大月 39.9 1990-07-19
大阪府 豊中 39.9 1994-08-08
埼玉県 鳩山 39.9 1997-07-05
千葉県 茂原 39.9 2013-08-11
群馬県 前橋 40 2001-07-24
岐阜県 美濃 40 2007-08-16
山形県 酒田 40.1 1978-08-03
愛媛県 宇和島 40.2 1927-07-22
静岡県 佐久間 40.2 2001-07-24
千葉県 牛久 40.2 2004-07-20
愛知県 愛西 40.3 1994-08-05
群馬県 上里見 40.3 1998-07-04
群馬県 館林 40.3 2007-08-16
埼玉県 越谷 40.4 2007-08-16
山梨県 勝沼 40.5 2013-08-10
静岡県 天竜 40.6 1994-08-04
和歌山県 かつらぎ 40.6 1994-08-08
山梨県 甲府 40.7 2013-08-10
山形県 山形 40.8 1933-07-25
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
高知県 江川崎 41 2013-08-12

In [182]:
## 19
!cat hightemp.txt | sed "s/\t/\ /g" | cut -f 1 -d " " | sort  | uniq -c | sort -rn -k 3 -t " "

      3 群馬県
      3 山梨県
      3 山形県
      3 埼玉県
      2 静岡県
      2 愛知県
      2 岐阜県
      2 千葉県
      1 高知県
      1 愛媛県
      1 大阪府
      1 和歌山県